/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Credits to https://github.com/bzgec/zmk-config
 *
 ***************************************************************************************************
 * Swedish Colemak-DH angle mode variation
 ***************************************************************************************************
 * Host layout: SE
 * Host layout: US (missing Å, Ä, Ö)
 *
 ***************************************************************************************************
 * Base layer:
 ***************************************************************************************************
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | TAB    |  q  Q  |  w  W  |  f  F  |  p  P  |  b  B  |             |  j  J  |  l  L  |  u  U  |  y  Y  |  ö  Ö  |  å  Å  |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | EXT1   |  a  A  |  r  R  |  s  S  |  t  T  |  g  G  |             |  m  M  |  n  N  |  e  E  |  i  I  |  o  O  |  ä  Ä  |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Shift  |  z  Z  |  x  X  |  c  C  |  d  D  |  v  V  |             |  k  K  |  h  H  |  ,  ;  |  .  :  |  -  _  | Shift  |
 *  +--------+--------+--------+----+---+----+---+----+---+----+   +----+---+----+---+----+---+----+--------+--------+--------+
 *                                  | Win    | Ctrl   | Space  |   | Enter  | SYM    | L Alt  |
 *                                  +--------+--------+--------+   +--------+--------+--------+
 *
 ***************************************************************************************************
 * Symbols layer:
 ***************************************************************************************************
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | TAB    |  1  !  |  2  @  |  3  #  |  4  $  |  5  %  |             |  6  ^  |  7  &  |  8  *  |  9  (  |  0  )  |  -  _  |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | EXT2   |        |        |        |        |        |             |        |        |  €  °  |  [  {  |  ]  }  |  `  ~  |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Shift  |        |        |        |        |        |             |        |        |        |        |  \  |  | Shift  |
 *  +--------+--------+--------+----+---+----+---+----+---+----+   +----+---+----+---+----+---+----+--------+--------+--------+
 *                                  | Win    | Ctrl   | Space  |   | Enter  | XXX    | L Alt  |
 *                                  +--------+--------+--------+   +--------+--------+--------+
 *
 ***************************************************************************************************
 * Extend layer 1:
 ***************************************************************************************************
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | TAB    | ESC    | WhUp   | GoBack | GoFwd  |        |             | Home   | PgDn   | PgUp   | End    | Del    | Print  |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | XXX    | Back   | WhDown |        |        |        |             | Left   | Down   | Up     | Right  | Back   | ESC    |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Shift  |        |        |        |        |        |             | Undo   | Redo   |        |        |        | Shift  |
 *  +--------+--------+--------+----+---+----+---+----+---+----+   +----+---+----+---+----+---+----+--------+--------+--------+
 *                                  | Win    | Ctrl   | Enter  |   | Enter  | EXT2   | L Alt  |
 *                                  +--------+--------+--------+   +--------+--------+--------+
 *
 ***************************************************************************************************
 * Extend layer 2:
 ***************************************************************************************************
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | TAB    | F1     | F2     | F3     | F4     | F5     |             | F6     | F7     | F8     | F9     | F10    |        |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | XXX    |        |        |        |        |        |             | Vol    | Vol Dn | Vol Up | F11    | F12    |        |
 *  |        |        |        |        |        |        |             | Mute   |        |        |        |        |        |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Shift  |        |        |        |        |        |             |        | Bri Dn | Bri Up |        |        | Shift  |
 *  +--------+--------+--------+----+---+----+---+----+---+----+   +----+---+----+---+----+---+----+--------+--------+--------+
 *                                  | Win    | Ctrl   | Enter  |   | Enter  | XXX    | L Alt  |
 *                                  +--------+--------+--------+   +--------+--------+--------+
 *
 ***************************************************************************************************
 * ZMK layer:
 ***************************************************************************************************
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | XXX    | BT 0   | BT 1   | BT 2   | BT 3   | BT 4   |             |        |        |        |        |        |        |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  |        | BT CLR |        | EP ON  | EP OFF | Reset  |             | To US  | To SE  | To SE  |        |        |        |
 *  |        |        |        |        |        |        |             |        | Linux  | Win    |        |        |        |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  |        |        |        |        |        | Bootl  |             |        |        |        |        |        |        |
 *  +--------+--------+--------+----+---+----+---+----+---+----+   +----+---+----+---+----+---+----+--------+--------+--------+
 *                                  |        |        |        |   |        |        |        |
 *                                  +--------+--------+--------+   +--------+--------+--------+
 *
 * - `BT 0-4`: Select the x bluetooth profile
 * - `BT CLR`: Clear bond between the keyboard and the host for the selected profile
 * - `Reset`: Reset this side of the keyboard
 * - `Bootl`: Reset this side of the keyboard to bootloader mode
 * - `EP ON`: Enable external power (enable VCC power output)
 * - `To US`: Switch keyboard layout to match US host layout
 * - `To SE Linux`: Switch keyboard layout to match SE host layout, Linux host
 * - `To SE Win`: Switch keyboard layout to match SE host layout, Windows host
 * - `EP OFF`: Disable external power (disable VCC power output)
 *
 ***************************************************************************************************
 * Notes:
 ***************************************************************************************************
 * - EXT2 layer is accessible when pressing: 'EXT' + 'SYM'
 * - ZMK layer is accessible when holding TAB key
 * - Double tap on SHIFT key toggles CAPS_LOCK
 * - Difference between "SE Linux" and "SE Windows" is in how a few special characters
 *   are implemented but for the end use there should be no difference
 *
 *   - `se_n6_lin`    -> `se_n6_win` (`^`)
 *   - `se_grave_lin` -> `se_grave_win` (`\``, `~`)
 *
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include "keys_se.h"

#define xxx &none
#define ___ &trans

#define SE_BASE_LIN 0  // Base layer, host layout: SE, Linux host
#define SE_BASE_WIN 1  // Base layer, host layout: SE, Windows host
#define US_BASE     2  // Base layer, host layout: US
#define SE_SYM_LIN  3  // Symbols layer, host layout: SE, Linux host
#define SE_SYM_WIN  4  // Symbols layer, host layout: SE, Windows host
#define US_SYM      5  // Symbols layer, host layout: US
#define L_EXT1      6  // Extend layer 1
#define L_EXT2      7  // Extend layer 2
#define L_ZMK       8  // ZMK layer

// Go to ZMK layer when holding TAB key
// On tap: TAB
// On hold: L_ZMK (ZMK layer)
#define TAB_L_ZMK  &lt L_ZMK TAB

// https://zmk.dev/docs/features/debouncing
&kscan0 {
    debounce-press-ms = <1>;    // Default is 5 ms
    debounce-release-ms = <4>;  // Default is 5 ms
};

/ {

    behaviors {
        #include "behaviors_mod_morph.dtsi"

        shft_caps: tap_dance_shift_caps_lock_toggle {
            compatible = "zmk,behavior-tap-dance";
            label = "TAB_DANCE_SHIFT_CAPS_LOCK_TOGGLE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp CAPS>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

base_layer_se_lin {
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  F  |  P   |  B  |    |  J  |  L   |  U  |  Y  |  Ö  |  Å   |
// | EXT1 |  A  |  R  |  S  |  T   |  G  |    |  M  |  N   |  E  |  I  |  O  |  Ä   |
// | SHFT |  Z  |  X  |  C  |  D   |  V  |    |  K  |  H   | , ; | . : | - _ | SHFT |
//                    | GUI | CTRL | SPC |    | ENT | SYM  | ALT |
            bindings = <
   TAB_L_ZMK  &kp SE_Q &kp SE_W &kp SE_F &kp SE_P  &kp SE_B    &kp SE_J &kp SE_L       &kp SE_U    &kp SE_Y   &kp SE_ODIA  &kp SE_ARNG
   &mo L_EXT1 &kp SE_A &kp SE_R &kp SE_S &kp SE_T  &kp SE_G    &kp SE_M &kp SE_N       &kp SE_E    &kp SE_I   &kp SE_O     &kp SE_ADIA
   &shft_caps &kp SE_Z &kp SE_X &kp SE_C &kp SE_D  &kp SE_V    &kp SE_K &kp SE_H       &kp SE_COMM &kp SE_DOT &kp SE_MINS &shft_caps
                                &kp LGUI &kp LCTRL &kp SPACE   &kp RET  &kp BACKSPACE  &mo SE_SYM_LIN
            >;
        };

        base_layer_se_win {
            bindings = <
   ___ ___ ___ ___ ___ ___   ___ ___            ___ ___ ___ ___
   ___ ___ ___ ___ ___ ___   ___ ___            ___ ___ ___ ___
   ___ ___ ___ ___ ___ ___   ___ ___            ___ ___ ___ ___
               ___ ___ ___   ___ &mo SE_SYM_WIN ___
            >;
        };


        base_layer_us {
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  F  |  P   |  B  |    |  J  |  L   |  U  |  Y  | ; : | = +  |
// | EXT1 |  A  |  R  |  S  |  T   |  G  |    |  M  |  N   |  E  |  I  |  O  | ' "  |
// | SHFT |  Z  |  X  |  C  |  D   |  V  |    |  K  |  H   | , < | . > | / ? | SHFT |
//                    | GUI | CTRL | SPC |    | ENT | SYM  | ALT |
            bindings = <
   TAB_L_ZMK  &kp Q &kp W &kp F    &kp P     &kp B       &kp J   &kp L      &kp U     &kp Y   &kp SEMI &kp EQUAL
   &mo L_EXT1 &kp A &kp R &kp S    &kp T     &kp G       &kp M   &kp N      &kp E     &kp I   &kp O    &kp SQT
   &shft_caps &kp Z &kp X &kp C    &kp D     &kp V       &kp K   &kp H      &kp COMMA &kp DOT &kp FSLH &shft_caps
                          &kp LGUI &kp LCTRL &kp SPACE   &kp RET &mo US_SYM &kp LALT
            >;
        };

        zmk_layer {
// -----------------------------------------------------------------------------------------
// | XXX  | BT 0  | BT 1   | BT 2   | BT 3   | BT 4   |        |       |           |           |      |      |      |
// |      | BTCLR |        | EP ON  | EP OFF | Reset  |        | To US | To SE WIN | To SE WIN |      |      |      |
// |      |       |        |        |        | Bootl  |        |       |           |           |      |      |      |
//                         |        |        |        |        |       |           |           |
            bindings = <
   xxx &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2     &bt BT_SEL 3      &bt BT_SEL 4     xxx         xxx             xxx             xxx xxx xxx
   xxx &bt BT_CLR   xxx          &ext_power EP_ON &ext_power EP_OFF &reset           &to US_BASE &to SE_BASE_LIN &to SE_BASE_WIN xxx xxx xxx
   xxx xxx          xxx          xxx              xxx               &bootloader      xxx         xxx             xxx             xxx xxx xxx
                                 xxx              xxx               xxx              xxx         xxx             xxx
            >;
        };
    };
};